.experienceSection {
    grid-template-columns: 2fr;
    grid-template-rows: 3rem 1fr;
    grid-gap: 0px;
    @apply relative h-screen text-center md:text-left max-w-7xl p-10 justify-evenly mx-auto items-center;
    > .experienceHeader {
        grid-area: 1 / 1 / 2 / 3; 
        @apply uppercase tracking-[20px] text-gray-500 text-2xl text-center;
    }
    > .experienceCarousel { 
        grid-area: 2 / 1 / 4 / 2; 
        @apply w-full flex space-x-5 overflow-x-scroll p-10 snap-x snap-mandatory scrollbar scrollbar-track-gray-400/20 scrollbar-thumb-[#F7AB0A]/80;
    }
    
}