.skillsSection {
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 3rem 3rem 1fr;
    gap: 10px;
    @apply h-screen relative text-center md:text-left max-w-[2000px] p-10 min-h-screen justify-center xl:space-y-0 mx-auto items-center;
    > .skillsHeader { 
        grid-area: 1 / 1 / 2 / 3; 
        @apply uppercase tracking-[20px] text-gray-500 text-2xl text-center; 
    }
    > .skillsHint { 
        grid-area: 2 / 1 / 3 / 2; 
        @apply uppercase tracking-[3px] text-gray-500 text-sm text-center;
    }
    > .skillsGrid { 
        grid-area: 3 / 1 / 4 / 2;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr) );
        @apply max-w-7xl p-10 justify-self-center h-full;
    } 

}